[Unit]
Description=Slurm node daemon
Requires=munged.service remote-fs.target
After=munged.service network.target remote-fs.target
# On CentOS 7 slurmd sometimes fails to start after reboot because of this condition.
#ConditionPathExists={{SlurmEtcDir}}/slurm.conf

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmd
ExecStart={{SlurmSbinDir}}/slurmd $SLURMD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/slurmd.pid
KillMode=process
LimitNOFILE=131072
LimitMEMLOCK=infinity
LimitSTACK=infinity
Delegate=yes

Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
