[Unit]
Description=Spot monitor
After=network.target remote-fs.target
ConditionPathExists={{SlurmScriptsDir}}/spot_monitor.py

[Service]
Environment=AWS_DEFAULT_REGION={{Region}}
Environment=SLURM_ROOT={{SlurmRoot}}
ExecStart={{SlurmScriptsDir}}/spot_monitor.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
