[Unit]
Description=Slurm DBD accounting daemon
After=network.target munged.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStart={{SlurmSbinDir}}/slurmdbd $SLURMDBD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/slurmdbd.pid
LimitNOFILE=65536
Restart=on-failure

[Install]
WantedBy=multi-user.target
