*.swp
package-lock.json
.pytest_cache
*.egg-info
node_modules
**/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# CDK Context & Staging files
.cdk.staging/
cdk.out/

installer_history.txt
.requirements_installed
